yeanpypa.py
*.pyc
*.*~
*.*#
document/_build/doctrees
document/_build/pdf
document/_build/html/_sources
build
daot.egg-info
dist
*.*#
/#readme#
/dao/tests/compiled.py
/dao/tests/compiled1.py
/dao/builtins/tests/test.txt
/dao/builtins/tests/test2.txt